<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        {{ $base := print (site.BaseURL | relLangURL) `/` }}
        <a class="d-inline-block text-primary text-underline-hover" href="{{ replaceRE $base `/` `/` }}">
          <svg class="me-2" style="margin-top:-2px" width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM21 7L1 7V9L21 9V7Z" fill="currentColor"/>
          </svg> {{i18n `back_to_home`}}</a>
          
        <!-- navbar -->
        <nav class="navigation navbar justify-content-center my-5 pb-5">
          <ul class="navbar-nav navbar-inline d-block">

            <!-- showing menu first item -->
            <li class="nav-item">
              <a class="nav-link" href="{{ replaceRE $base `/` `/` }}"><span>{{i18n `all_posts`}}</span></a>
            </li>
            <!-- showing menu first item -->

            {{ if eq .Section "categories" }}
            <!-- showing categories -->
            {{ $currentPage := . }}
            {{ range site.Taxonomies.categories.ByCount }}
            {{ $menuURL := .Page.RelPermalink }}
            {{ $pageURL:= $currentPage.RelPermalink }}
            {{ $active := eq $menuURL $pageURL }}
            <li class="nav-item {{ if $active }}active{{ end }}">
              <a class="nav-link" href="{{ .Page.RelPermalink }}"><span>{{ .Page.Title }}</span></a>
            </li>
            {{ end }}
            <!-- showing categories -->
            {{ else }}
              <!-- showing menus -->
              {{ $currentPage := . }}
              {{ range site.Menus.main }}
              {{ $menuURL := .URL | relLangURL }}
              {{ $pageURL:= $currentPage.RelPermalink }}
              {{ $active := eq $menuURL $pageURL }}
              {{ if .HasChildren }}
              <li class="nav-item dropdown 
              {{ range .Children }}
              {{ $childURL := .URL | relLangURL }}
              {{ $active := eq $childURL $pageURL }}
              {{ if $active }}active{{ end }}
              {{ end }}">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  {{ .Name }}
                </a>
                <div class="dropdown-menu">
                  {{ range .Children }}
                  {{ $childURL := .URL | relLangURL }}
                  {{ $active := eq $childURL $pageURL }}
                  <a class="dropdown-item {{ if $active }}active{{ end }}" {{if findRE `^http` .URL}}target="_blank" rel="noopener" {{end}}
                    href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{.URL}}{{else}}{{.URL | relLangURL}}{{end}}">{{ .Name }}</a>
                  {{ end }}
                </div>
              </li>
              {{ else }}
              <li class="nav-item {{ if $active }}active{{ end }}">
                <a class="nav-link" {{if findRE `^http` .URL}}target="_blank" rel="noopener" {{end}}
                  href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{.URL}}{{else}}{{.URL | relLangURL}}{{end}}"><span>{{.Name}}</span></a>
              </li>
              {{ end }}
              {{ end }}
              <!-- showing menus -->
            {{ end }}

            {{ partial "components/translation.html" . }}
          </ul>
        </nav>
        <!-- /navigation -->
      </div>

      <div class="col-lg-12 mx-auto text-center">
        <h1 class="text-capitalize mb-">{{.Title | markdownify}}</h1>
      </div>
    </div>
  </div>
</section>