{{ if .IsTranslated }}
<!-- Language List -->
<li class="nav-item translation-nav">
  {{ $siteLanguages := site.Languages}}
  {{ $pageLang := .Page.Lang}}
  {{ range .Page.AllTranslations }}
    {{ $translation := .}}
    {{ range $siteLanguages }}
    {{ if eq $translation.Lang .Lang }}
    {{ $selected := false }}
    {{ if eq $pageLang .Lang}}
    <a class="active" href="{{ $translation.RelPermalink }}">
      <img src="{{ (resources.Get .Params.flag).RelPermalink }}" alt="{{ .LanguageName }}">
    </a>
    {{ else }}
    <a href="{{ $translation.RelPermalink }}">
      <img src="{{ (resources.Get .Params.flag).RelPermalink }}" alt="{{ .LanguageName }}">
    </a>
    {{ end }}
    {{ end }}
    {{ end }}
  {{ end }}
</li>
{{ end }}