// intro-banner
.intro-banner {
  // .intro-image {
  //   clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 100% 0, 100% 0, 100% 18%, 83% 0);
  // }
  .title {
    color: $white;
    position: relative;
    font-size: 90px;
    word-spacing: 100vw;
    line-height: 1.05;
    text-shadow: -2px 1px $color-secondary, 2px 0 $color-tertiary;
    margin-top: -15px;
    @include tablet {
      font-size: 80px;
      margin-top: 0;
    }
  }
}

// article card
.article-row {
  margin-left: 3px;
  margin-top: 1px;
  > div {
    border: 1px solid #2f4050;
    margin-left: -1px;
    margin-bottom: -1px;
  }
  .card {
    padding: 35px;
    @include tablet {
      padding: 25px;
    }
  }
  .search-wrap {
    width: calc(100% - 2px);
    @include desktop {
      width: calc(100% - 1px);
    }
    @include tablet {
      width: 100%;
    }
    .input-group {
      height: 50px;
      .input-group-text {
        padding: 0 20px;
      }
    }
    .form-control {
      transition: .3s;
      padding: 0 20px;
    }
  }
}

.article {
  .blog-title {
    &:hover {
      color: rgba($light, .9);
      text-shadow: -1px 1px $color-secondary, 1px 0 $color-tertiary;
    }
  }
}

.card-meta {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.form-control {
  border: 1px solid #2f4050;
  min-height: 50px;
  padding: 0 20px;
  color: $white !important;
  &:focus {
    border: 1px solid #2f4050;
    background-color: lighten($body-bg, 5);
  }
}
textarea.form-control {
  padding-top: 20px;
  padding-bottom: 20px;
}

// page not found
.page-not-found {
  h1 {
    font-size: 100px;
    font-weight: bold;
    text-shadow: -2px 1px $color-secondary, 2px 0 $color-tertiary;
    margin-bottom: 20px;
  }
  p {
    font-size: 32px;
    color: $white;
  }
}