// intro-banner
.intro-banner {
  // .intro-image {
  //   clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 100% 0, 100% 0, 100% 18%, 83% 0);
  // }
  .title {
    color: $white;
    position: relative;
    font-size: 90px;
    word-spacing: 100vw;
    line-height: 1;
    font-weight: 600;
    text-shadow: -2px 1px $color-secondary, 2px -1px $color-tertiary;
    margin-top: -15px;
    display: inline-block;
    @include desktop-lg {
      font-size: 72px;
    }
    @include tablet {
      font-size: 70px;
      margin-top: 0;
    }
    &::before,
    &::after {
      color: $white;
      content: attr(data-text);
      position: absolute;
      width: 100%;
      height: 100%;
      background: $body-bg;
      overflow: hidden;
      top: 0;
    }
    &::before {
      left: 3px;
    }
    &::after {
      left: -3px;
    }
    &:hover {
      margin-left: -3px;
      &::before {
        text-shadow: -2px 0 rgb(0, 255, 242), 2px 0 red;
        animation-name: glitch-animation-1;
        animation-duration: 2.5s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: reverse-alternate;
      }
      &::after {
        text-shadow: -2px 0 blue, px 0 rgb(30, 255, 0);
        animation-name: glitch-animation-2;
        animation-duration: 2.5s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: reverse-alternate;
      }
    }
    @keyframes glitch-animation-1 {
      $steps: 20;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          clip: rect(random(190)+px, 560px, random(190)+px, 0px);
        }
      }
    }
    @keyframes glitch-animation-2 {
      $steps: 20;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          clip: rect(random(190)+px, 560px, random(190)+px, 0px);
        }
      }
    }
  }
}


// article card
.article-row {
  margin-left: 3px;
  margin-top: 1px;
  > div {
    border: 1px solid $border-color;
    margin-left: -1px;
    margin-bottom: -1px;
  }
  .card {
    padding: 35px;
    @include tablet {
      padding: 25px;
    }
  }
  .search-wrap {
    width: calc(100% - 2px);
    @include desktop {
      width: calc(100% - 1px);
    }
    @include tablet {
      width: 100%;
    }
    .input-group {
      height: 50px;
      .input-group-text {
        padding: 0 20px;
        border-right: 2px solid #2f3f50 !important;
      }
    }
    .form-control {
      transition: .3s;
      padding: 0 20px;
    }
  }
}

.article {
  .blog-title {
    &:hover {
      color: rgba($light, .9);
      text-shadow: -1px 1px $color-secondary, 1px 0 $color-tertiary;
    }
  }
}

.card-meta {
  a {
    color: $white;
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}

.form-control {
  border: 1px solid $border-color;
  min-height: 50px;
  padding: 0 20px;
  color: $white !important;
  &:focus {
    border: 1px solid $border-color;
    background-color: lighten($body-bg, 5);
  }
}
textarea.form-control {
  padding-top: 20px;
  padding-bottom: 20px;
}

// page not found
.page-not-found {
  h1 {
    font-size: 100px;
    font-weight: bold;
    text-shadow: -2px 1px $color-secondary, 2px 0 $color-tertiary;
    margin-bottom: 20px;
  }
  p {
    font-size: 32px;
    color: $white;
  }
}

// footer
.text-underline-hover:hover {
  text-decoration: underline;
}