// intro-banner
.intro-banner {
  // .intro-image {
  //   clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0, 100% 0, 100% 0, 100% 18%, 83% 0);
  // }
  .title {
    color: $white;
    position: relative;
    font-size: 90px;
    word-spacing: 100vw;
    line-height: 1.05;
    text-shadow: -2px 1px #00fff2, 2px 0px red, -2px -1px blue, 2px 0 #1eff00;
    margin-top: -15px;
    @include tablet {
      font-size: 80px;
      margin-top: 0;
    }
  }
}

// article card
.article-row {
  border-left: 1px solid #2f4050;
  border-top: 1px solid #2f4050;
  > div {
    border-right: 1px solid #2f4050;
    border-bottom: 1px solid #2f4050;
  }
  .card {
    padding: 35px;
  }
}

.article {
  .blog-title {
    &:hover {
      color: rgba($light, .9);
      text-shadow: -1px 1px #b942fd, 1px 0 #00ff2b;
    }
  }
}

.card-meta {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}