// intro-banner
.intro-banner {
  .intro-image {
    max-width: 220px;
  }
  @include mobile {
    padding-top: 4em;
  }
  @include desktop {
    padding-bottom: 0;
  }
  .title {
    color: $white;
    position: relative;
    font-size: 92px;
    line-height: 1;
    font-weight: 600;
    @include desktop-lg {
      font-size: 72px;
    }
    @include tablet {
      font-size: 64px;
    }
    @include tablet {
      margin-top: 0;
    }
  }
}

.lead {
  @include desktop-lg {
    font-size: 100%;
  }
}


// article card
.article-row {
  .card {
    border: 1px solid $border-color;
    border-radius: 6px;
    padding: 35px;
    @include tablet {
      padding: 25px;
    }
  }
  .search-wrap {
    .input-group {
      height: 50px;
      border: 1px solid $border-color;
      border-radius: 6px;
      .input-group-text {
        padding: 0 20px;
        border-right: 1px solid $border-color !important;
      }
    }
    .form-control {
      padding: 0 20px;
      background-color: transparent;
    }
  }
}

.article {
  .blog-title {
    &:hover {
      color: rgba($light, .9);
    }
  }
}

.card-meta {
  a {
    color: $white;
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}

.form-control {
  border: 1px solid $border-color;
  min-height: 50px;
  padding: 0 20px;
  color: $white !important;
  &:focus {
    border: 1px solid $border-color;
    background-color: lighten($body-bg, 5);
  }
}
textarea.form-control {
  padding-top: 20px;
  padding-bottom: 20px;
}

// page not found
.page-not-found {
  h1 {
    font-size: 100px;
    font-weight: bold;
    text-shadow: -2px 1px $color-secondary, 2px 0 $color-tertiary;
    margin-bottom: 20px;
  }
  p {
    font-size: 32px;
    color: $white;
  }
}

// footer
.text-underline-hover:hover {
  text-decoration: underline;
}