// for color
.navigation {
  .navbar-nav .nav-item {
    user-select: none;
    margin: 0 4px !important;
    .nav-link {
      color: $white;
      padding: 0.2em 0.8em;
      padding-top: 0.22em;
      display: inline-block;
      border-radius: 6px;
    }
    &:not(.dropdown) {
      .nav-link:hover{
        color: $white;
        background-color: rgba($white, .1);
      }
      &.active {
        .nav-link{
          color: $white;
          background-color: rgba($white, .1);
        }
      }
    }
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .nav-item {
    text-transform: capitalize;
    @include desktop {
      display: inline-block;
      margin: 0 1.4em .7em 0 !important;
    }
  }
  
  .dropdown {
    .dropdown-toggle {
      transition: 0.3s;
      &::after {
        vertical-align: bottom;
        padding: 15px;
        padding-left: 0;
        border: 0;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 12px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      &:hover {
        color: $white !important;
        opacity: .8;
      }
    }
  }
}

.navbar-inline {
  @include tablet {
    margin-top: 30px;
  }
  .nav-item {
    display: inline-block;
    margin: 0 .5em !important;
    @include tablet {
      display: block;
      text-align: center;
    }
    &.translation-nav {
      @include tablet {
        min-width: 120px;
        margin-top: 10px !important;
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
  }
}

.navbar-pageheader {
  .navbar-inline {
    .nav-item {
      @include tablet {
        display: inline-block;
        text-align: center;
        margin-bottom: 5px !important;
      }
    }
  }
}

.dropdown-menu {
  padding: 0;
  border-radius: 0;
  background-color: #293644;
  box-shadow: 3px 0 15px #000;
}
.dropdown-item {
  font-size: 15px;
  color: $white;
  &:focus,
  &:hover {
    color: $white;
    background-color: lighten(desaturate(adjust-hue($body-bg, -8), 7.23), 15.10);
  }
}
.dropdown-item.active, .dropdown-item:active {
  background-color: lighten(desaturate(adjust-hue($body-bg, -2), 9.09), 19.41);
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

/* search */
.search-btn {
  border: 0;
  background: transparent;
}

.search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
  visibility: hidden;
  transition: .2s ease;
  opacity: 0;

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.search-box {
  height: 100%;
  width: 100%;
  border: 0;
  background: $white;
  font-size: 1.5rem;
  padding: 0;

  &:focus {
    box-shadow: none !important;
  }
}

.translation-nav {
  background-color: rgba($white, .1);
  padding: 2px 4px 5px 4px;
  border-radius: 6px;
  transform: translateY(-1px);
  a {
    display: inline-block;
    margin: 0 4px;
    filter: grayscale(1);
    &:hover,
    &.active {
      filter: grayscale(0);
    }
    &.active {
      pointer-events: none;
    }
  }
}