<!-- navbar -->
<nav class="navigation navbar justify-content-center py-0">  
  <ul class="navbar-nav d-block">
    {{ $base := add (site.BaseURL | relLangURL) "/" }}
    {{ if strings.HasSuffix $base "//" }}
    {{ $base = strings.TrimSuffix $base "/" }}
    {{ end }}
    <!-- showing menu first item -->
    <li class="nav-item {{ if $.IsHome }}active{{ end }}">
      <a class="nav-link" href="{{$base}}"><span>{{i18n `all_posts`}}</span></a>
    </li>
    <!-- showing menu first item -->

    <!-- showing categories -->
    {{ range first 5 (site.Taxonomies.categories.ByCount) }}
    <li class="nav-item opacity-75">
      <a class="nav-link" href="{{ .Page.RelPermalink }}"><span>{{ .Page.Title }}</span></a>
    </li>
    {{ end }}
    <!-- showing categories -->

    <!-- showing menus -->
    {{ range site.Menus.main }}
    {{ if .HasChildren }}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{ .Name }}
      </a>
      <div class="dropdown-menu">
        {{ range .Children }}
        <a class="dropdown-item" {{if findRE `^http` .URL}}target="_blank" rel="noopener" {{end}}
          href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{.URL}}{{else}}{{.URL | relLangURL}}{{end}}">{{ .Name }}</a>
        {{ end }}
      </div>
    </li>
    {{ else }}
    <li class="nav-item">
      <a class="nav-link" {{if findRE `^http` .URL}}target="_blank" rel="noopener" {{end}}
        href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{.URL}}{{else}}{{.URL | relLangURL}}{{end}}"><span>{{.Name}}</span></a>
    </li>
    {{ end }}
    {{ end }}
    <!-- showing menus -->

    {{ partial "components/translation.html" . }}
  </ul>
</nav>
<!-- /navigation -->