/* Button style */
.btn {
  font-size: 0.9rem;
  font-family: $font-primary;
  text-transform: capitalize;
  padding: .67em 1em;
  padding-top: .8em;
  border-radius: 6px;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: .2s ease;
  text-decoration: none !important;

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none !important;
  }
}

.btn-sm{
  padding: .47em .7em;
  padding-top: .6em;
  font-size: .8rem;
  border-radius: 4px;
}

.btn-primary {
  background: $white;
  color: $black !important;
  border: 0;

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background: $color-primary !important;
    border-color: $color-primary !important;
  }
}