/* Button style */
.btn {
  font-size: 0.9rem;
  font-family: $font-primary;
  text-transform: capitalize;
  padding: .7em 1em;
  border-radius: 0;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: .2s ease;
  text-decoration: none !important;

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none !important;
  }
}

.btn-primary {
  background: $white;
  color: $black !important;
  box-shadow: -2px 1px $color-secondary, 2px -1px $color-tertiary;
  transform: skewX(-12deg);
  border: 0;
  span {
    display: block;
    transform: skewX(12deg);
  }

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background: $color-primary !important;
    border-color: $color-primary !important;
  }
}