// Color Variables
{{ with site.Params.variables }}
$color-primary: {{.color_primary | default "#777"}};
$color-secondary: {{.color_secondary | default "#0AA8A7"}};
$color-tertiary: {{.color_tertiary | default "#f62410"}};
$text-color: {{.text_color | default "#777"}};
$text-dark: {{.text_dark | default "#222"}};
$text-light: {{.text_light | default "#999"}};
$body-bg: {{.body_color | default "#fff"}};
$border-color: {{.border_color | default "#ECECEC"}};
$black: {{.black | default "#000"}};
$white: {{.white | default "#fff"}};
$dark: {{.dark | default "#222"}};
$light: {{.light | default "#EDF6F5"}};

// Font Variables
$font-size: {{.font_size | default "16px"}};
$font-scale: {{.font_scale | default "1.25"}};
$font-primary: '{{replace (replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_primary | default "Lato") "+" " "}}', {{.font_primary_type | default "sans-serif"}};
$font-secondary: '{{replace (replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;]+" "" .font_secondary | default "Lato") "+" " "}}', {{.font_secondary_type | default "sans-serif"}};
$font-icon: '{{.font_icon | default "Font Awesome 5 Free"}}';
{{ end }}

@import 'bootstrap/bootstrap';

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'templates/navigation.scss';

{{ if site.Params.image_gallery }}
@import 'templates/image_gallery.scss';
{{ end }}

@import 'templates/main.scss';

@import 'custom.scss';