{{ define "main" }}

{{ partial "components/page-header.html" . }}

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="content">
          {{.Content}}
        </div>

        <div class="contact-form mt-5 pt-5">
          <h4>{{i18n `send_me_a_message`}}</h4>

          <form class="row g-4" action="{{site.Params.contact_form_action}}">
            <div class="col-lg-6">
              <label for="name" class="form-label">{{ i18n "name" }}</label>
              <input type="email" class="form-control rounded-0 shadow-none " id="name" placeholder="Alex Smith" required>
            </div>
            <div class="col-lg-6">
              <label for="email" class="form-label">{{ i18n "email" }}</label>
              <input type="email" class="form-control rounded-0 shadow-none " id="email" placeholder="hello@email.com" required>
            </div>
            <div class="col-12">
              <label for="subject" class="form-label">{{ i18n "subject" }}</label>
              <input type="email" class="form-control rounded-0 shadow-none " id="subject" placeholder="{{i18n `reasons_for_contact`}}" required>
            </div>
            <div class="col-12">
              <label for="message" class="form-label">{{ i18n "message"}}</label>
              <textarea class="form-control rounded-0 shadow-none " id="message" rows="4" placeholder="{{i18n `your_message`}}" required></textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary mt-3" aria-label="Send Message">{{ i18n "send_message"}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}