{{ define "main" }}

{{ partial "components/page-header.html" . }}

<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}

<section>
  <div class="container">
    <div class="col-xl-10 col-lg-11 mx-auto">
      <div class="row article-row g-4">
        {{ if site.Params.search }}
        <div class="col-lg-12 search-wrap">
          <div class="input-group">
            <span class="input-group-text bg-transparent text-white border-0" id="basic-addon1"><i class="fas fa-search"></i></span>
            <input type="text" class="form-control shadow-none text-white border-0 rounded-0" type="text" id="search_post" onkeyup="searchPost()" placeholder="{{i18n `search_blog`}}" aria-label="{{i18n `search_blog`}}" aria-describedby="{{i18n `search_blog`}}">
          </div>
        </div>
        {{ end }}
        {{ range .Data.Pages }}
        <div class="col-lg-6">
          {{ .Render "post" }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<!-- regular page -->
{{ else }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /regular page -->

{{ end }}