<div class="col-lg-4 col-md-6">
  <article class="article card bg-transparent border-0 h-100">
    <div class="card-body p-0 position-relative">
      <div class="card-meta d-inline-block">
        {{ range $i, $e := .Params.categories }} {{ with site.GetPage (printf "categories/%s" (urlize .)) }}
        <a
          class="text-capitalize {{if ne $i 0}} ms-2{{end}}"
          style="color:{{ .Params.color }}"
          href="{{ .RelPermalink }}"
          >{{ .Title }}</a
        >
        {{ end }} {{ end }}
      </div>
      <span class="d-block my-3">{{ .PublishDate.Format "Jan 02, 2006" }}</span>
      <h3 class="h5">
        <a class="blog-title" href="{{.RelPermalink}}" title="{{.Title}}"
          >{{.Title}}</a
        >
      </h3>
    </div>
    <div class="card-footer p-0 mt-2 bg-transparent border-0">
      <a class="line-link" title="{{i18n `read_more`}} about {{.Title}}" href="{{.RelPermalink}}">{{i18n `read_more`}}
        <svg
          class="ms-1"
          width="22"
          height="11"
          viewBox="0 0 16 8"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15.3536 4.35355C15.5488 4.15829 15.5488 3.84171 15.3536 3.64645L12.1716 0.464467C11.9763 0.269205 11.6597 0.269205 11.4645 0.464467C11.2692 0.659729 11.2692 0.976312 11.4645 1.17157L14.2929 4L11.4645 6.82843C11.2692 7.02369 11.2692 7.34027 11.4645 7.53553C11.6597 7.7308 11.9763 7.7308 12.1716 7.53553L15.3536 4.35355ZM-4.37114e-08 4.5L15 4.5L15 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" /></svg>
        </a>
    </div>
  </article>
</div>
