{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h1 class="h2 mb-5">{{i18n "search_for"}} 
          <mark>
            <script>
              var keyword = (window.location.search).substr(3);
              var result = keyword.replace("+", " ");
              document.write(result);
            </script>
          </mark>
        </h1>
        <div id="search-results"></div>
        <script id="search-result-template" type="text/x-js-template">
          <div class="py-4 border-bottom" id="summary-${key}">
            <h4><a href="${link}">${title}</a></h4>
            <p>${snippet}</p>
            ${ isset tags }<p>Tags: ${tags}</p>${ end }
            ${ isset categories }<p>Categories: ${categories}</p>${ end }
          </div>
        </script>
      </div>
    </div>
  </div>
</section>

<!-- Search index -->
<script>
  var indexURL = {{"index.json" | relLangURL}}
</script>

{{ end }}