{{ define "main" }}

<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}

<section class="section-sm {{if not site.Params.related_post}}pb-0{{end}} ">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        {{ $base := add (site.BaseURL | relLangURL) "/" }}
        {{ if strings.HasSuffix $base "//" }}
        {{ $base = strings.TrimSuffix $base "/" }}
        {{ end }}
        <a class="d-inline-block mb-5 text-primary text-underline-hover" href="{{$base}}">
          <svg class="me-2" style="margin-top:-2px" width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM21 7L1 7V9L21 9V7Z" fill="currentColor"/>
          </svg> {{i18n `back_to_home`}}</a>
          
        {{with .Params.image}}
        <div class="mb-5">
          {{ partial "image.html" (dict "Src" . "Class" "w-100 h-auto" "Alt" "post-thumb") }}
        </div>
        {{end}}

        <h1 class="h2 mt-4 mb-2">{{ .Title }}</h1>

        <div class="mb-5 pb-2 mt-4">
          <div class="card-meta d-inline-block">
            {{ range $i, $e := .Params.categories }}
            {{ with site.GetPage (printf "categories/%s" (urlize .)) }}
              <a class="text-capitalize {{if ne $i 0}} ms-2{{end}}" style="color:{{ .Params.color }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ end }}
            {{ end }}
          </div>
          <span class="mx-3">|</span>
          <span class="d-inline-block">{{ .PublishDate.Format "January 02, 2006" }}</span>
          <span class="mx-3">|</span>
          <span class="d-inline-block">{{ .ReadingTime }} {{i18n `min_read`}}</span>
        </div>

        <div class="content">
          {{.Content}}
        </div>

        <!-- comments -->
        {{ if site.Config.Services.Disqus.Shortname }}
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
        {{ else }}
        {{ if site.Params.valine_comment.enable}}
        {{- partial "components/valine-comment.html" . -}}
        {{ end }}
        {{ end }}
        <!-- /comments -->
      </div>
    </div>
  </div>
</section>

<!-- related post -->
{{ if site.Params.related_post }}
<div class="container">
  <div class="row">
    <div class="col-12 mb-4">
      <h2 class="h3 text-center">{{i18n `related_post`}}</h2>
    </div>
  </div>
  {{ $related := (where site.RegularPages "Section" "blog") | intersect (where site.Pages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) }}
  <div class="row article-row justify-content-center">
    {{ range first 3 $related }}
      <!-- post card here -->
      <div class="col-lg-4 col-md-6">
      {{ .Render "post" }}
      </div>
    {{ end }}
  </div>
</div>
{{ end }}
<!-- /related post -->


<!-- regular page -->
{{ else }}
{{ partial "components/page-header.html" . }}
<section class="section-sm pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">
        {{ $imagePath:= .Params.image }}

        {{ if $imagePath }}
        {{ partial "image.html" (dict "Src" $imagePath "Context" .Page ) }}
        {{ end }}

        {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /regular page -->

{{ end }}